.cv {
  display: none;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fff;
  width: 540.9px;
  height: 700px;
  padding: 20px;
}

.cv .top {
  display: grid;
  grid-template-columns: 1fr 130px;
  grid-template-rows: 1fr 1fr;
}

.cv.alive {
  display: grid;
}

.cv .image {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  grid-column: -2 / -1;
  grid-row: 1 / -1;
  border: 2px rgb(160, 160, 160) solid;
}

.cv .header {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.cv .header h1 {
  font-size: 4.2rem;
}

.cv .header p {
  font-size: 2.2rem;
}

.cv .personalInfo {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 2.5px;
}

.cv .infoblock {
  display: flex;
  font-size: 1.25rem;
  gap: 5px;
}

.cv .infoblock .question {
  font-weight: 700;
  font-size: 1.25rem;
}

.cv .profile {
  margin-top: 10px;
  font-size: 1.25rem;
}

.cv .profile h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.cv .profile p {
  margin-top: 2px;
  margin-left: 10px;
}

.cv h2 {
  font-weight: 700;
  font-size: 1.8rem;
}

.job,
.edu {
  margin-top: 10px;
  margin-left: 20px;
}

.job .first {
  display: flex;
  align-items: center;
  gap: 5px;
}

.job .second .jobTit,
.edu .degree {
  font-size: 1.5rem;
  font-weight: 600;
}

.job .first .jobDat,
.edu .date {
  font-size: 1.3rem;
  font-style: italic;
}

.job .second {
  display: flex;
  margin-top: 1.5px;
}

.job .third {
  display: flex;
  margin-top: 1.5px;
}

.job .third .location {
  font-size: 1.3rem;
  align-self: start;
}

.job .fourth ul,
.skills {
  display: flex;
  gap: 2.5px;
  flex-direction: column;
  margin-top: 5px;
  list-style-type: disc;
  margin-left: 12.5px;
}

.job .fourth li,
.skills li {
  font-size: 1.3rem;
}

.edu {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.edu .second {
  display: flex;
  gap: 15px;
  font-size: 1.3rem;
}

.skills {
  margin-top: 8px;
  margin-left: calc(20px + 12.5px);
  gap: 3px;
}

.skills li {
  font-size: 1.3rem;
}

.subheader {
  margin-bottom: -5px;
}
